@use 'sass:map';
@use '@angular/material' as mat;

@mixin home-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-slash {
    .docs-header-background {
      background: mat.m2-get-color-from-palette($primary);
    }

    .docs-header-headline {
      color: mat.m2-get-color-from-palette($primary, default-contrast);
    }

    .docs-header-start {
      color: mat.m2-get-color-from-palette($primary);
    }

    svg {
      max-width: 90%;
    }
  }
}
