<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Samuel Marks</h1>
      <h2>Guide to my projects</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/docs/getting-started" color="accent">
        Get started
      </a>

      <a mat-raised-button class="docs-button" routerLink="/docs/learn-engineering" color="secondary">
        Learn engineering
      </a>
    </div>
  </div>
</header>

<div class="main">
  <div fxLayout="row" fxLayout.xs="column">
    <app-svg-viewer fxFlex="40" fxHide.xs
                    src="../assets/img/homepage/sprintzerotoapp.svg"
                    scaleToContainer="true">
    </app-svg-viewer>

    <div class="docs-homepage-promo-desc" fxFlex="60">
      <h2><a class="docs-markdown-a" href="https://github.com/SamuelMarks">Starter scaffolds</a></h2>
      <ul>
        <li><a class="docs-markdown-a" href="https://github.com/SamuelMarks/restify-orm-scaffold">Node.JS (multi-ORM;
          multi-server [restify et al.])</a></li>
        <li><a class="docs-markdown-a" href="https://github.com/SamuelMarks/ng-material-scaffold">Web (Angular 5 with
          @angular/material and @angular/flex-layout)</a></li>
        <li><a class="docs-markdown-a" href="https://github.com/SamuelMarks/android-auth-scaffold">Android (with
          okhttp)</a></li>
      </ul>
    </div>
  </div>

  <div fxLayout="row-reverse" fxLayout.xs="column">
    <app-svg-viewer fxFlex="40" fxHide.xs
                    src="../assets/img/homepage/fastandconsistent.svg"
                    scaleToContainer="true">
    </app-svg-viewer>

    <div fxFlex="60">
      <h2><a class="docs-markdown-a" href="https://github.com/stereostream">StereoStream</a></h2>
      <p>WebRTC and WebSockets powered multi-webcam broadcast streaming solution. <a class="docs-markdown-a"
                                                                                     href="https://github.com/stereostream/stereostream-angular">Web</a>;
        <a class="docs-markdown-a" href="https://github.com/stereostream/stereostream-android">Android</a>; <a
          class="docs-markdown-a" href="https://github.com/stereostream/stereostream-rest-api">REST API</a>.</p>
    </div>
  </div>


  <div fxLayout="row" fxLayout.xs="column">
    <app-svg-viewer fxFlex="40" fxHide.xs
                    src="../assets/img/homepage/versatile.svg"
                    scaleToContainer="true">
    </app-svg-viewer>

    <div class="docs-homepage-promo-desc" fxFlex="60">
      <h2><a class="docs-markdown-a" href="http://offscale.io">Offscale</a></h2>
      <ul>
        <li><a class="docs-markdown-a" href="https://github.com/offscale/offstrategy">CLI to create nodes on any of 50+
          public and private clouds</a></li>
        <li><a class="docs-markdown-a" href="https://github.com/offscale/offregister">CLI to deploy onto these nodes;
          using Fabric, Ansible (with more easily addable)</a></li>
        <li><a class="docs-markdown-a" href="https://github.com/offscale/offswitch">CLI to destroy nodes</a></li>
      </ul>
    </div>
  </div>
</div>
<!--
<div class="docs-homepage-row docs-homepage-reverse-row">
  <div class="docs-homepage-promo-img">
    <app-svg-viewer
      src="../assets/img/homepage/optimized.svg"
      scaleToContainer="true"></app-svg-viewer>
  </div>
  <div class="docs-homepage-promo-desc">
    <h2>Optimized for Angular</h2>
    <p>Built by the Angular team to integrate seamlessly with Angular.</p>
  </div>
</div>
-->
<div class="docs-homepage-bottom-start">
  <a mat-raised-button class="docs-button" routerLink="/docs/getting-started">Get started</a>
</div>
