<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Samuel Marks</h1>
      <h2>Scaling engineering is difficult. It shouldn't be. My mission is to create open-source technology, to scale
        from one engineer and one user, to 100s of engineering teams and millions of users.</h2>
      <!-- deployments is basically a lot of boilerplate. Production deployments majorly diverge from development.
           These are the problems I'm targeting</h2> -->
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/docs/getting-started" color="accent"
         style="margin-right: 5px">
        Get started
      </a>

      <a mat-raised-button class="docs-button" routerLink="/docs/learn-engineering" color="secondary">
        Learn engineering
      </a>
    </div>
  </div>
</header>


<div class="main">
  <div class="markdown-body fxLayout-column" style="background-color: unset">
    <p>I write open-source developer tools to speedup engineering of scalable software. <a href="https://rewriteInC.io"
                                                                                           target="_blank"><code>#rewriteInC</code></a>.
      Foci on: <a href="https://verMan.io" target="_blank">cross-platform multicloud</a>, <a
        href="https://kitchenSink.ai" target="_blank">multi-ML</a>, and compilers (<a
        href="https://github.com/offscale/cdd-python" target="_blank">python</a>; <a
        href="https://github.com/SamuelMarks/cdd-c" target="_blank">C</a>; …) to translate types across—and
      within—codebases. Recently I started an open-source SaaS [QA GitHub bot] code-quality checker (linting, coverage,
      etc.).
    </p>
    <figure>
      <img
        src="https://github-readme-streak-stats.herokuapp.com/?user=SamuelMarks"
        alt="SamuelMarks"/>
      <figcaption aria-hidden="true"><a href="https://github.com/SamuelMarks" target="_blank">SamuelMarks&#64;GitHub</a>
      </figcaption>
    </figure>
    <h3 id="deploy-at-any-scale">Deploy at any scale</h3>
    <p><em>From one [e.g., embedded] device to 10,000 servers:</em></p>
    <ul>
      <li>
        [old] 59+ Python repos with <a href="https://github.com/offscale?q=off&amp;language=python" target="_blank">“off”
        prefix</a>;
      </li>
      <li>[new] cross-platform [very] cross-platform package managers:
        <ul dir="auto">
          <li>C89 base depending on each OS's crypto and network lib <a href="https://github.com/offscale/libacquire"
                                                                        target="_blank">libacquire</a>;
          </li>
          <li><a href="https://rvm.io" rel="nofollow" target="_blank">rvm</a>/<a href="https://github.com/nvm-sh/nvm"
                                                                                 target="_blank">nvm</a> style
            cross-platform package managers
            <ul dir="auto">
              <li><a href="https://github.com/offscale/postgres-version-manager-go" target="_blank">postgres-version-manager-go</a>
                in
                Go
              </li>
              <li><a href="https://github.com/orgs/offscale/repositories?q=-version-manager-rs&amp;language=rust"
                     target="_blank">"version-manager-rs"
                suffixed</a> and <a href="https://github.com/verman-io/verman-schema-rs" target="_blank">verman-schema-rs</a>
                Rust crates
              </li>
            </ul>
          </li>
          <li>[new] <a href="https://verMan.io" target="_blank">verMan.io</a> for 1-click deploys: any &lbrace;ML,database,server&rbrace;
            any &lbrace;cloud,VM,docker,machine&rbrace; from/to any OS.
          </li>
        </ul>
      </li>
    </ul>
    <table>
      <thead>
      <tr class="table-header">
        <th>Purpose</th>
        <th>Repo</th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd">
        <td>Provision nodes specified in JSON, across 50+ clouds</td>
        <td><a
          href="https://github.com/offscale/offstrategy" target="_blank">offstrategy</a></td>
      </tr>
      <tr class="even">
        <td>SSH into node provisioned by offstrategy|offset</td>
        <td><a href="https://github.com/offscale/offshell" target="_blank">offshell</a></td>
      </tr>
      <tr class="odd">
        <td>Deprovision node provisioned by offstrategy|offset from cloud
          providers
        </td>
        <td><a href="https://github.com/offscale/offswitch" target="_blank">offswitch</a></td>
      </tr>
      <tr class="even">
        <td>Bring Your Own Node (BYON) [so can use ↕]</td>
        <td><a href="https://github.com/offscale/offset" target="_blank">offset</a></td>
      </tr>
      <tr class="odd">
        <td>Deploy any of <a
          href="https://github.com/orgs/offscale/repositories?q=offregister-&amp;language=python" target="_blank">50
          “offregister-” prefixed</a> softwares—including clustered databases—to
          nodes provisioned by offstrategy|offset
        </td>
        <td><a
          href="https://github.com/offscale/offregister" target="_blank">offregister</a></td>
      </tr>
      </tbody>
    </table>
    <h4 id="competitive-advantage">Competitive advantage</h4>
    <ul>
      <li>Support for more cloud vendors;</li>
      <li>Uses normal Python packages deployable to PyPi, as opposed to
        Puppet/Chef/Ansible with their custom systems;
      </li>
      <li>[WiP] Deploy to any operating system (cross-platform: SunOS,
        Windows, Linux, macOS, OpenBSD);
      </li>
      <li>[WiP] Experiment with different versions of each package, including
        clustered variants.
      </li>
    </ul>
    <h3 id="multicloud">Multicloud</h3>
    <p><em>From one cloud vendor to many:</em></p>
    <ul>
      <li>[old] See aforementioned <a
        href="https://libcloud.apache.org" target="_blank">Apache Libcloud</a> and <a
        href="https://fabfile.org" target="_blank">Fabric</a> utilising Python repos;
      </li>
      <li>[new] C89 <a
        href="https://github.com/offscale/google-cloud-c" target="_blank">google-cloud-c</a>
        library (soon: auto-generate entire library, and other vendors);
      </li>
      <li>[planned] autogenerate vendors other than Google Cloud.</li>
    </ul>
    <h4 id="competitive-advantage-1">Competitive advantage</h4>
    <ul>
      <li>[C89] Can be called from most any programming language and runs in
        all environments;
      </li>
      <li>[planned] Build specific abstractions for multicloud, like:
        container-as-a-Service; ML-as-a-Service; Storage-as-a-Service;
        &amp;etc.
      </li>
    </ul>
    <h3 id="multi-ml">Multi-ML</h3>
    <ul>
      <li><p><em>From one machine-learning framework to many:</em> - [old] Python
        repo from my first PhD: <a
          href="https://github.com/SamuelMarks/ml-glaucoma" target="_blank">ml-glaucoma</a>;</li>
      <li><p><em>[new] 10+ Python repos with <a
        href="https://github.com/SamuelMarks?tab=repositories&amp;q=ml-params&amp;language=python" target="_blank">“ml-params”
        prefix</a></em></p></li>
    </ul>
    <table>
      <thead>
      <tr class="table-header">
        <th>Google</th>
        <th>Other vendors</th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd">
        <td><a
          href="https://github.com/SamuelMarks/ml-params-tensorflow" target="_blank">tensorflow</a></td>
        <td><a
          href="https://github.com/SamuelMarks/ml-params-pytorch" target="_blank">pytorch</a></td>
      </tr>
      <tr class="even">
        <td><a
          href="https://github.com/SamuelMarks/ml-params-keras" target="_blank">keras</a></td>
        <td><a
          href="https://github.com/SamuelMarks/ml-params-skorch" target="_blank">skorch</a></td>
      </tr>
      <tr class="odd">
        <td><a
          href="https://github.com/SamuelMarks/ml-params-flax" target="_blank">flax</a></td>
        <td><a
          href="https://github.com/SamuelMarks/ml-params-sklearn" target="_blank">sklearn</a></td>
      </tr>
      <tr class="even">
        <td><a
          href="https://github.com/SamuelMarks/ml-params-trax" target="_blank">trax</a></td>
        <td><a
          href="https://github.com/SamuelMarks/ml-params-xgboost" target="_blank">xgboost</a></td>
      </tr>
      <tr class="odd">
        <td><a href="https://github.com/SamuelMarks/ml-params-jax" target="_blank">jax</a></td>
        <td><a
          href="https://github.com/SamuelMarks/ml-params-cntk" target="_blank">cntk</a></td>
      </tr>
      </tbody>
    </table>
    <h4 id="competitive-advantage-2">Competitive advantage</h4>
    <ul>
      <li>Keep up-to-date with latest innovations without porting to favourite
        framework;
      </li>
      <li>Experiment with every model on all major Python ML frameworks.</li>
    </ul>
    <h3 id="native-development-cross-platform-without-tradeoffs">Native
      development, cross-platform, without tradeoffs</h3>
    <p>Compilers to automatically translate—within and—between:</p>
    <table>
      <thead>
      <tr class="table-header">
        <th>Language</th>
        <th>Compiler</th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd">
        <td>Python</td>
        <td><a href="https://github.com/offscale/cdd-python" target="_blank">cdd-python</a></td>
      </tr>
      <tr class="even">
        <td>C</td>
        <td><a href="https://github.com/SamuelMarks/cdd-c" target="_blank">cdd-c</a></td>
      </tr>
      <tr class="odd">
        <td>Java (Android)</td>
        <td><a href="https://github.com/offscale/cdd-java" target="_blank">cdd-java</a></td>
      </tr>
      <tr class="even">
        <td>Kotlin (Android)</td>
        <td><a href="https://github.com/offscale/cdd-kotlin" target="_blank">cdd-kotlin</a></td>
      </tr>
      <tr class="odd">
        <td>Swift (iOS)</td>
        <td><a
          href="https://github.com/offscale/cdd-swift-ios" target="_blank">cdd-swift</a></td>
      </tr>
      <tr class="even">
        <td>TypeScript (Angular)</td>
        <td><a href="https://github.com/offscale/cdd-ts-ng" target="_blank">cdd-ts-ng</a></td>
      </tr>
      <tr class="odd">
        <td>Rust</td>
        <td><a href="https://github.com/offscale/cdd-rust" target="_blank">cdd-rust</a></td>
      </tr>
      </tbody>
    </table>
    <h4 id="competitive-advantage-3">Competitive advantage</h4>
    <ul>
      <li>[intra-language] Automatically synchronise tests (&amp; mocks),
        docs, types &amp; interfaces;
      </li>
      <li>[exolanguage] Translate changes across language boundaries;</li>
      <li>Develop multi-language applications—e.g., Android, iOS, web,
        backend—as fast as single-language applications (compare with: Django or
        Ruby on Rails) and at a higher quality thanks to increased consistency,
        test coverage and doc coverage.
      </li>
    </ul>
  </div>
</div>
<div class="docs-homepage-bottom-start">
  <a mat-raised-button class="docs-button" routerLink="/docs/getting-started">Get started</a>
</div>
