<div class="docs-markdown pad">
  <p class="docs-markdown-p">
    People keep asking me where to start! - I'm no expert in pedagogy, but regardless here are my recommendations.
  </p>
  <em class="docs-markdown-p">
    An emphasis on freely available Massive Open Online Classes (MOOCs) is apparent.
  </em>

  <section id="basics">
    Start by learning the:
    <ol class="docs-markdown-ol">
      <li>
        command-line for your OS (<a class="docs-markdown-a"
                                     href="https://www.edx.org/course/introduction-linux-linuxfoundationx-lfs101x-1"
                                     target="_blank">Linux [also mostly applicable for Mac]</a>;
        <a class="docs-markdown-a"
           href="https://www.cs.princeton.edu/courses/archive/spr05/cos126/cmd-prompt.html"
           target="_blank">Windows</a>)
      </li>
      <li>
        <a class="docs-markdown-a"
           href="https://git-scm.com"
           target="_blank">git</a> (for backing up, versioning, and collaborating on source-code)
      </li>
    </ol>
    Also an <a class="docs-markdown-a"
               href="https://www.quora.com/Is-there-a-good-online-course-for-operating-systems-being-offered-I-already-searched-on-Coursera-and-edX-but-couldnt-find-any"
               target="_blank">introduction to operating systems course</a> wouldn't go astray. Now you're ready to
    start learning software engineering.
  </section>

  <section id="introductory-courses">
    <h5 class="docs-markdown-h5">Introductory courses</h5>
    Recommend you start with an introduction to computer science, such as:
    <ul class="docs-markdown-ul">
      <li>
        <a class="docs-markdown-a"
           href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x"
           target="_blank">Harvard (CS50x)</a>, and
      </li>
      <li>
        <a class="docs-markdown-a"
           href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-11"
           target="_blank">MIT (6.00x)</a>
      </li>
    </ul>

    Then continue onto databases with:
    <ul class="docs-markdown-ul">
      <li>
        <a class="docs-markdown-a"
           href="https://lagunita.stanford.edu/courses/Home/Databases/Engineering/about"
           target="_blank">Stanford (<em>Databases</em>)</a>
      </li>
    </ul>
  </section>

  <section id="sophmore">
    <h5 class="docs-markdown-h5">Second-year courses</h5>
    Now that you understand the basics and have 3+ languages under your belt, I recommend:
    <ol class="docs-markdown-ol">
      <li>
        <a class="docs-markdown-a"
           href="https://www.edx.org/course/agile-development-using-ruby-rails-uc-berkeleyx-cs169-1x-1"
           target="_blank"><em>SaaS I</em>&ensp; from UC Berkeley (CS169-1x)</a>
      </li>
      <li>
        <a class="docs-markdown-a"
           href="https://www.edx.org/course/agile-development-using-ruby-rails-uc-berkeleyx-cs169-2x-1"
           target="_blank"><em>SaaS II</em> from UC Berkeley (CS169-2x)</a>
      </li>
      <li>
        Something functional, e.g.: <a class="docs-markdown-a" target="_blank"
                                       href="https://www.coursera.org/learn/programming-languages-part-c"><em>Programming
        Languages Part C</em> from UW</a>;
        <a class="docs-markdown-a" target="_blank" href="https://www.coursera.org/learn/progfun1"><em>Functional
          Programming Principles in Scala</em> from EPA</a>
      </li>
      <li>
        <a class="docs-markdown-a" target="_blank" href="https://www.coursera.org/specializations/algorithms">Data-structure
          and algorithms courses from Stanford</a>
      </li>
    </ol>
  </section>


  <section id="senior">
    <h5 class="docs-markdown-h5">Final-year courses</h5>
    Here comes the most important courses, the one which allow you to put everything together and get a little advanced:
    <ol class="docs-markdown-ol">
      <li>
        <a class="docs-markdown-a"
           href="https://lagunita.stanford.edu/courses/Engineering/Compilers/Fall2014/about"
           target="_blank"><em>Compilers</em> from Stanford (CS1)</a>
      </li>
      <li>
        <a class="docs-markdown-a"
           href="https://www.extension.harvard.edu/academics/courses/fundamentals-cloud-computing-microsoft-azure/25152"
           target="_blank"><em>Fundamentals of Cloud Computing with Microsoft Azure</em> from Harvard Extensions School
          (CSCI E-94)</a>
      </li>
    </ol>

    <p class="docs-markdown-p">
      This is also when I would recommend learning Android (Java), <a class="docs-markdown-a"
                                                                      href="https://www.youtube.com/user/MichelDeiman/videos"
                                                                      target="_blank">iOS (Swift)</a>, Angular and
      Node.JS (JavaScript &
      <a class="docs-markdown-a"
         href="https://www.edx.org/course/introduction-typescript-2-microsoft-dev273x-1"
         target="_blank">TypeScript</a>) development.
    </p>

    <p class="docs-markdown-p">
      Pickup other knowledge you want here also, like: Artificial Intelligence; Natural Language Processing; game
      physics development &etc.
    </p>
  </section>

  <section id="afterwards">
    <h5 class="docs-markdown-h5">Finishing</h5>
    <p class="docs-markdown-p">
      Now that you have pretty much acquired the specialisation, you should be able to understand how any real-world
      problem can be solved computationally.
    </p>

    <em>You'll also be able to pickout the ones that can't be solved efficiently.</em>

    <p class="docs-markdown-p">
      Welcome to my world ;D
    </p>
  </section>
</div>
