<footer class="docs-footer light-colors" style="background-color: #3f51b5">
  <div class="docs-footer-list">
    <div class="footer-logo">
      <a href="https://linkedin.com/in/samuelmarks">
        <img class="docs-footer-angular-logo"
             src="../../assets/img/linkedin-54px.png"
             style="border-left: whitesmoke solid 0.005px"
             alt="LinkedIn profile">
      </a>

      <a href="https://offscale.io" style="margin-left: 10px; margin-right: 10px;">
        <img class="docs-footer-angular-logo"
             src="../../assets/img/Offscale-black.png"
             style="border-left: whitesmoke solid 0.005px; height: 100px"
             alt="Consultancy link">
      </a>
      <a href="https://github.com/SamuelMarks">
        <img class="docs-footer-angular-logo"
             src="../../assets/img/homepage/github-circle-white-transparent.svg"
             style="border-left: whitesmoke solid 0.005px"
             alt="Consultancy link">
      </a>
    </div>

    <div class="docs-footer-copyright">
      <p>&copy; 2017&ndash;2022. Code and documentation licensed under (Apache-2.0 OR MIT OR CC0).</p>
    </div>
  </div>
</footer>
