<mat-toolbar color="primary">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/angular-white-transparent.svg"
         alt="angular">
    <span>Samuel Marks</span>
  </a>
  <!--
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys"
     [routerLink]="key">{{sections[key]}}</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guides</a>
  -->
  <div class="flex-spacer"></div>

  <app-platform-picker *ngIf="w.location.pathname.indexOf('docs') > -1"></app-platform-picker>
  <!--
  <theme-picker></theme-picker>
  -->

  <a mat-icon-button class="docs-button docs-navbar-show-small"
     href="https://github.com/angular/material2" aria-label="GitHub Repository">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
  </a>
</mat-toolbar>
