<mat-toolbar color="primary">
  <a routerLink="/" class="docs-navbar-hide-vsmall">Samuel Marks</a>

  <!--
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys"
     [routerLink]="key">{{sections[key]}}</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guides</a>
  -->
  <ng-container *ngIf="w.location.pathname.indexOf('docs/getting-started') > -1">
    <div class="flex-spacer"></div>
    <app-platform-picker></app-platform-picker>
  </ng-container>

  <div class="flex-spacer"></div>
  <a mat-icon-button class="docs-button"
     href="https://github.com/SamuelMarks" aria-label="GitHub Repository">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/github-circle-white-transparent.svg"
         alt="github">
  </a>

  <!--
  <theme-picker></theme-picker>
  -->
</mat-toolbar>
