* {
  // font-size: 300%;
}

div {
  padding: 20px;
}

ul.div {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
}

.slide {
  font-size: 300%;
}

.trans-button {
  background: transparent;
  border: none;
}
