@import '~@angular/material/theming';
@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-root-theme($theme);

.light-colors {
  background-color: mat-color($primary, default);
  color: map-get($mat-light-theme-background, background);
}

.dark-colors {
  background-color: map-get($mat-dark-theme-foreground, base);
  color: map-get($mat-dark-theme-background, background);
}
