@use '@angular/material' as mat;
@use './app-theme';
@use './styles/api';
@use './styles/markdown';
@use './styles/tables';
@use './styles/general';

// Define the light theme.
$_primary: mat.define-palette(mat.$blue-gray-palette);
$_accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$_theme: mat.define-light-theme($_primary, $_accent);

// Include material core styles.
@include mat.core();

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);


a {
  color: whitesmoke /*$theme.primary*/;
}

.m2app-dark {
  $dark-primary: mat.define-palette($mat-pink, 700, 500, 900);
  $dark-accent: mat.define-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat.define-palette($mat-deep-orange);

  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include app-theme.theme($dark-theme);
}
